<p> <a href="/fruits/new">Create a New Fruit</a></p>
<ul>
<% fruits.forEach((fruit, index) => { %>
   <li>
       <a href="/fruits/<%= fruit.id %> "><%= fruit.name %></a>
   </li>

<form class="submit-btn" action='/fruits/<%= fruit.id %>?_method=DELETE' method="POST">
    <input type="submit" value="DELETE" />
</form>

<a href="/fruits/<%= fruit.id %>/edit">Edit Me</a>

<% }); %>
</ul>   