<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/app.css">
    <title>MVC/REST</title>
</head>
<body style="height: 100vh; display:flex; flex-direction:column; justify-content:space-between; align-items:center;">
    <main>
    <nav><h1> <a href="/fruits">HOME</a></h1></nav>
  
    <%- body %> 

    <h4>Copyright GA - Daniele Longo, 2021</h3>
</main>
</body>
</html>