<h1>Make a New Fruit</h1>

<form action="/fruits" method="POST">
    <label for="name">Name</label>
    <input type="text" name="name" id="name">
    <br><br>
    <label for="color">Color</label>
    <input type="text" name="color" id="color">
    <br><br>
    <label for="readyToEat">Is Ready to eat</label>
    <input type="checkbox" name="readyToEat" id="readyToEat" />
    <br><br>
    <input type="submit" value="Create Fruit">
</form>