<%= fruit.name %> and the its color is <%= fruit.color %> 

<% if (fruit.readyToEat) { %> 
    <p>Let's eat this <%= fruit.name %>  </p>
    <% } else { %> 
        <p>This fruit is not ripe</p>
        <% } %> 